html {
    background-image: url("executive_room.webp");
    background-repeat: no-repeat;
    background-size:200%;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, auto);

}

h1 {
    grid-column: 1/4;
    text-align: center;
}

h2 {
    grid-row: 3/4;
    text-align: center;
}

p {
    grid-column: 2/4;
    grid-row: 4/5;
}
nav {
    grid-column: 1/4;
}

div {
    display: inline-block;
    grid-column: 1/4;
}

span {
    grid-column: 1/2;
    grid-row: 4/5;
}

#one {

    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
    width: 33%;
}

#two {

    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
    width: 33%;
}

#three {

    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
    width: 32%;
}
